
<div class=" px-8 py-4 flex justify-center items-center">
    <form action="#" method="POST" class="w-full h-fit max-w-screen-2xl"> 
        <h6 class="text-xl py-0.5 font-semibold mb-4 text-center rounded-2xl border-0 text-white bg-blue-800">Informations sur votre Institution</h6>  
        <div class="flex justify-between w-full">
            <div class="bg-white shadow-md rounded-lg p-6 h-fit" style="width: 32%;" >  
                <div class="mb-4">  
                    <input type="text" name="denomination" required class="bg-gray-50 border border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full py-1.5 px-3" placeholder="Dénomination :">  
                </div>  
                <div class="mb-4">  
                    <input type="text" name="statut" required class="bg-gray-50 border border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full py-1.5 px-3" placeholder="Statuts Juridiques (Banque, SGI, Autre)">  
                </div>  
                
                <div class="mb-4">  
                    <input type="text" name="pays" required class="bg-gray-50 border border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full py-1.5 px-3" placeholder="Pays :">  
                </div>  
                <div>  
                    <input type="text" name="ville" required class="bg-gray-50 border border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full py-1.5 px-3" placeholder="Ville :">  
                </div>  
            </div>  
            <div class="bg-white shadow-md rounded-lg p-6 h-fit" style="width: 32%;"> 
                <div class="mb-4">  
                    <input type="text" name="adresse_physique" required class="bg-gray-50 border border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full py-1.5 px-3" placeholder="Adresse Physique :">  
                </div>  
                <div class="mb-4">  
                    <input type="text" name="tel_fixe_institution" required class="bg-gray-50 border border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full py-1.5 px-3" placeholder="Téléphone Fixe :">  
                </div>  
                <div>  
                    <input type="email" name="adresse_mail_institution" required class="bg-gray-50 border border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full py-1.5 px-3" placeholder="Adresse mail Institution :">  
                </div> 
            </div>
            <div class="bg-white shadow-md rounded-lg p-6 h-fit" style="width: 32%;"> 
                <div class="mb-4">  
                    <input type="text" name="nom_dirigeant" required class="bg-gray-50 border border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full py-1.5 px-3" placeholder="Nom du dirigeant :">  
                </div>  
                <div class="mb-4">  
                    <input type="text" name="prenom_dirigeant" required class="bg-gray-50 border border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full py-1.5 px-3" placeholder="Prénom du dirigeant :">  
                </div>  
                <div>  
                    <input type="text" name="titre_dirigeant" required class="bg-gray-50 border border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full py-1.5 px-3" placeholder="Titre du dirigeant :">  
                </div>  
            </div> 
        </div>
        <div class="flex justify-between mt-8">
            <div style="width: 49%;">
                <h6 class="text-xl py-0.5 font-semibold mb-4 text-center rounded-2xl border-0 text-white bg-blue-800">Informations sur le responsable informatique (ADMIN)</h6> 
                <div class="bg-white shadow-md rounded-lg p-6 w-full"> 
                    <div class="mb-4">  
                        <input type="text" name="nom" required class="bg-gray-50 border border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full py-1.5 px-3" placeholder="Nom :">  
                    </div>  
                    <div class="mb-4">  
                        <input type="text" name="prenom" required class="bg-gray-50 border border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full py-1.5 px-3" placeholder="Prénom :">  
                    </div> 
                    <div class="mb-4">  
                        <input type="text" name="fonction" required class="bg-gray-50 border border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full py-1.5 px-3" placeholder="Fonction :">  
                    </div>  
                    <div class="mb-4">  
                        <input type="email" name="email" required class="bg-gray-50 border border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full py-1.5 px-3" placeholder="Adresse mail :">  
                    </div>  
                    <div class="mb-4">  
                        <input type="text" name="tel_fixe" required class="bg-gray-50 border border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full py-1.5 px-3" placeholder="Téléphone Fixe :">  
                    </div>  
                    <div>  
                        <input type="text" name="tel_portable" required class="bg-gray-50 border border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full py-1.5 px-3" placeholder="Téléphone portable :">  
                    </div>
                </div> 
            </div>

            <div style="width: 49%;" class="h-fit">
                <h6 class="text-xl py-0.5 font-semibold mb-4 text-center rounded-2xl border-0 text-white bg-blue-800">Informations sur le demandeur </h6>  
                <div class="bg-white shadow-md rounded-lg p-6 w-full">  
                    <div class="mb-4">  
                        <input type="text" name="nom" required class="bg-gray-50 border border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full py-1.5 px-3" placeholder="Nom :">  
                    </div>  
                    <div class="mb-4">  
                        <input type="text" name="prenom" required class="bg-gray-50 border border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full py-1.5 px-3" placeholder="Prénom :">  
                    </div> 
                    <div class="mb-4">  
                        <input type="text" name="fonction" required class="bg-gray-50 border border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full py-1.5 px-3" placeholder="Fonction :">  
                    </div>  
                    <div class="mb-4">  
                        <input type="email" name="email" required class="bg-gray-50 border border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full py-1.5 px-3" placeholder="Adresse mail :">  
                    </div>  
                    <div class="mb-4">  
                        <input type="text" name="tel_fixe" required class="bg-gray-50 border border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full py-1.5 px-3" placeholder="Téléphone Fixe :">  
                    </div>  
                    <div>  
                        <input type="text" name="tel_portable" required class="bg-gray-50 border border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full py-1.5 px-3" placeholder="Téléphone portable :">  
                    </div> 
                </div> 
            </div>
        </div>
        <div class="flex justify-end mt-8">
            <button type="submit" class="!text-white bg-gradient-to-r from-blue-700 !via-blue-800 !to-blue-900 hover:bg-gradient-to-br shadow-lg shadow-blue-500/50 rounded-lg text-base font-semibold px-5 py-2.5 text-center me-2 mb-2 ">Soumettre</button>
        </div>
    </form> 
</div>   



