<div class=" p-4   max-h-full " >
            <!-- Modal content -->
            <div class=" bg-white rounded-lg shadow dark:bg-gray-700 p-6">
                  <!-- Modal header -->
                  <div class="flex justify-center p-2 md:p-5 border-b rounded-t dark:border-gray-600 " style="background-color: #4D44B5;">
                      <h3 class="text-xl font-semibold text-gray-900 text-white ">
                        Formulaire de transaction (Achat / Vente de Titres)
                      </h3>
                     
                  </div>
                  <!-- Modal body -->
                  <div class="flex justify-start mb-4">
                    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                      Caractéristiques du titre 
                    </h3>
                  </div>
                  
                <form>
                  <div class="flex max-w-full justify-between mb-4">
                    <div style="width: 32%;">
                      <div class="mb-5 flex w-full">
                        <label for="base-input" class="w-1/2 block mb-2 text-sm font-medium text-gray-900 dark:text-white">Date offre</label>
                        <input type="date" class="w-1/2 ml-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                      </div>
                      <div class="mb-5 flex w-full">
                        <label for="base-input" class="w-1/2 block mb-2 text-sm font-medium text-gray-900 dark:text-white">Emetteur :</label>
                        <select id="countries" class="w-1/2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
  
                          <option>United States</option>
                          <option>Canada</option>
                          <option>France</option>
                          <option>Germany</option>
                        </select>                    
                      </div>
                      <div class="mb-5 flex w-full">
                        <label for="base-input" class="w-1/2 block mb-2 text-sm font-medium text-gray-900 dark:text-white">Date d'échéance :</label>
                        <input type="date" class="w-1/2 ml-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                      </div>
                      <div class="mb-5 flex w-full">
                        <label for="base-input" class="w-1/2 block mb-2 text-sm font-medium text-gray-900 dark:text-white">Durée résiduelle (an)</label>
                        <input type="number" class="w-1/2 ml-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                      </div>
                      <div class="mb-5 flex w-full">
                        <label for="base-input" class="w-1/2 block mb-2 text-sm font-medium text-gray-900 dark:text-white">Valeur transaction</label>
                        <input type="number" class="w-1/2 ml-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                      </div>
                    </div>
                    <div style="width: 32%;">
                      <div class="mb-5 flex w-full">
                        <label for="base-input" class="w-1/2 block mb-2 text-sm font-medium text-gray-900 dark:text-white">Sens:</label>
                        <select id="countries" class="w-1/2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
  
                          <option>ACHAT</option>
                          <option>VENTE</option>
                        
                        </select>                         
                      </div>
                      <div class="mb-5 flex w-full">
                        <label for="base-input" class="w-1/2 block mb-2 text-sm font-medium text-gray-900 dark:text-white">Code ISIN :</label>
                        <input type="date" class="w-1/2 ml-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">              
                      </div>
                      <div class="mb-5 flex w-full">
                        <label for="base-input" class="w-1/2 block mb-2 text-sm font-medium text-gray-900 dark:text-white">Valeur Nom. Unitaire:</label>
                        <input type="date" class="w-1/2 ml-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                      </div>
                      <div class="mb-5 flex w-full">
                        <label for="base-input" class="w-1/2 block mb-2 text-sm font-medium text-gray-900 dark:text-white">Prix de transaction:</label>
                        <input type="number" class="w-1/2 ml-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                      </div>
                      <div class="mb-5 flex w-full">
                        <label for="base-input" class="w-1/2 block mb-2 text-sm font-medium text-gray-900 dark:text-white">N transaction:</label>
                        <input type="number" class="w-1/2 ml-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                      </div>
                    </div>
  
                    <div style="width: 32%;">
                     
                      <div class="mb-5 flex w-full">
                        <label for="base-input" class="w-1/2 block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nature instrument :</label>
                        <select id="countries" class="w-1/2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
  
                          <option>OAT</option>
                          <option>BAT</option>
                          <option>France</option>
                          <option>Germany</option>
                        </select>                    
                      </div>
                      <div class="mb-5 flex w-full">
                        <label for="base-input" class="w-1/2 block mb-2 text-sm font-medium text-gray-900 dark:text-white">Taux / Coupon: :</label>
                        <input type="number" class="w-1/2 ml-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                      </div>
                     
                      <div class="mb-5 flex w-full">
                        <label for="base-input" class="w-1/2 block mb-2 text-sm font-medium text-gray-900 dark:text-white">Quantité:</label>
                        <input type="number" class="w-1/2 ml-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                      </div>
                      <div class="mb-5 flex w-full">
                        <label for="base-input" class="w-1/2 block mb-2 text-sm font-medium text-gray-900 dark:text-white">Intérêts courus: :</label>
                        <input type="number" class="w-1/2 ml-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                      </div>
                    </div>
                  </div>
                  <div class="flex justify-end">
                      <button data-modal-target="cfAnnuler" data-modal-toggle="cfAnnuler"  type="button" class="text-white bg-red font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center" style="background-color: red;">
                        Annuler
                    </button>
                    <button  data-modal-target="cfAjout" data-modal-toggle="cfAjout"  type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-white focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" style="background-color: green;">Ajouter</button>
                  </div>
                  
                </form>

             </div>
          </div>
      

      <div id="cfAnnuler" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="cfAnnuler">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
                <div class="p-4 md:p-5 text-center">
                    <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                    </svg>
                    <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Voulez-vous supprimer la transaction code ISIN : BJ0000000121  ?</h3>
                    <button data-modal-hide="cfAnnuler" type="button" class="text-black bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                       Supprimer
                    </button>
                    <button data-modal-hide="cfAnnuler" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Annuler</button>
                </div>
            </div>
        </div>
    </div>
    <div id="cfAjout" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative p-4 w-full max-w-md max-h-full">
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
              <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="cfAjout">
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                  </svg>
                  <span class="sr-only">Close modal</span>
              </button>
              <div class="p-4 md:p-5 text-center">
                  <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                  </svg>
                  <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Voulez-vous supprimer la transaction code ISIN : BJ0000000121  ?</h3>
                  <button data-modal-hide="cfAjout" type="button" class="text-black bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                     Supprimer
                  </button>
                  <button data-modal-hide="cfAjout" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Annuler</button>
              </div>
          </div>
      </div>
  </div>
