<div class="w-full px-6 py-6 mx-auto">      
  <form class="bg-white rounded-xl shadow mt-4">
    <div class="!bg-blue-800 flex rounded-t-xl py-1.5 justify-center items-center">
      <h3 class="text-xl font-semibold text-white">
        Formulaire de transaction (Achat / Vente de Titres)
      </h3>
    </div>
    
    <h3 class="text-xl px-4 py-4 font-semibold text-gray-900 dark:text-white">
      Caractéristiques du titre 
    </h3>

    <div class="flex max-w-full justify-between mb-4 px-4">
      <div class="border border-gray-300 px-4 py-6 rounded-lg h-fit" style="width: 31%;">
        <div class="mb-5 flex w-full items-center">
          <label for="date_offre" class="w-1/2 text-sm font-medium text-gray-900">Date offre :</label>
          <input type="date" id="date_offre" class="w-1/2 border bg-slate-50 border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 py-1.5 px-3">
        </div>
        <div class="mb-5 flex w-full items-center">
          <label for="countries" class="w-1/2 text-sm font-medium text-gray-900">Emetteur :</label>
          <select id="countries" class="w-1/2 border bg-slate-50 border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 py-1.5 px-3">
            <option>United States</option>
            <option>Canada</option>
            <option>France</option>
            <option>Germany</option>
          </select>                    
        </div>
        <div class="mb-5 flex w-full items-center">
          <label for="date_echeance" class="w-1/2 text-sm font-medium text-gray-900">Date d'échéance :</label>
          <input type="date" id="date_echeance" class="w-1/2 border bg-slate-50 border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 py-1.5 px-3">
        </div>
        <div class="mb-5 flex w-full items-center">
          <label for="duree" class="w-1/2 text-sm font-medium text-gray-900">Durée résiduelle (an) :</label>
          <input type="number" id="duree" class="w-1/2 border bg-slate-50 border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 py-1.5 px-3">
        </div>
        <div class="flex w-full items-center">
          <label for="valeur" class="w-1/2 text-sm font-medium text-gray-900">Valeur transaction :</label>
          <input type="number" id="valeur" class="w-1/2 border bg-slate-50 border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 py-1.5 px-3">
        </div>
      </div>
      <div class="border border-gray-300 px-4 py-6 rounded-lg h-fit" style="width: 31%;">
        <div class="mb-5 flex w-full items-center">
          <label for="sens" class="w-1/2 text-sm font-medium text-gray-900">Sens :</label>
          <select id="sens" class="w-1/2 border bg-slate-50 border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 py-1.5 px-3">
            <option>ACHAT</option>
            <option>VENTE</option>
          </select>                         
        </div>
        <div class="mb-5 flex w-full items-center">
          <label for="code_sin" class="w-1/2 text-sm font-medium text-gray-900">Code ISIN :</label>
          <input type="text" id="code_sin" class="w-1/2 border bg-slate-50 border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 py-1.5 px-3">              
        </div>
        <div class="mb-5 flex w-full items-center">
          <label for="valeur_nom" class="w-1/2 text-sm font-medium text-gray-900">Valeur Nom. Unitaire :</label>
          <input type="number" id="valeur_nom" class="w-1/2 border bg-slate-50 border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 py-1.5 px-3">
        </div>
        <div class="mb-5 flex w-full items-center">
          <label for="prix" class="w-1/2 text-sm font-medium text-gray-900">Prix de transaction :</label>
          <input type="number" id="prix" class="w-1/2 border bg-slate-50 border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 py-1.5 px-3">
        </div>
        <div class="flex w-full items-center">
          <label for="n_transaction" class="w-1/2 text-sm font-medium text-gray-900">N° transaction :</label>
          <input type="text" id="n_transaction" class="w-1/2 border bg-slate-50 border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 py-1.5 px-3">
        </div>
      </div>
      <div class="border border-gray-300 px-4 py-6 rounded-lg h-fit" style="width: 31%;">
        
        <div class="mb-5 flex w-full items-center">
          <label for="nature" class="w-1/2 text-sm font-medium text-gray-900">Nature instrument :</label>
          <select id="nature" class="w-1/2 border bg-slate-50 border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 py-1.5 px-3">
            <option>OAT</option>
            <option>BAT</option>
            <option>France</option>
            <option>Germany</option>
          </select>                    
        </div>
        <div class="mb-5 flex w-full items-center">
          <label for="taux" class="w-1/2 text-sm font-medium text-gray-900">Taux / Coupon :</label>
          <input type="number" id="taux" class="w-1/2 border bg-slate-50 border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 py-1.5 px-3">
        </div>
        <div class="mb-5 flex w-full items-center">
          <label for="qte" class="w-1/2 text-sm font-medium text-gray-900">Quantité :</label>
          <input type="number" id="qte" class="w-1/2 border bg-slate-50 border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 py-1.5 px-3">
        </div>
        <div class="flex w-full items-center">
          <label for="interet" class="w-1/2 text-sm font-medium text-gray-900">Intérêts courus :</label>
          <input type="number" id="interet" class="w-1/2 border bg-slate-50 border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 py-1.5 px-3">
        </div>
      </div>
    </div>
    <div class="flex justify-end pb-4 px-4">
      <button data-modal-target="annulation-modal" data-modal-toggle="annulation-modal"  type="button" class="text-white !bg-red-600 hover:!bg-red-700 font-medium rounded-lg text-sm px-5 py-2 text-center">
        Annuler
      </button>
      <button  data-modal-target="ajout-modal" data-modal-toggle="ajout-modal"  type="button" class="ml-4 text-white !bg-green-500 hover:!bg-green-600 font-medium rounded-lg text-sm px-5 py-2 text-center">
        Ajouter
      </button>
    </div>
    
  </form>
</div>
    

<!--Modal de Annulation--> 
<div id="annulation-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex align-middle bg-blue-800 items-center justify-between px-4 py-2 border-b rounded-t-lg ">
        <h3 class="text-xl mb-0 font-medium text-white ">
          Confirmation d'Annulation
        </h3>
        <button type="button" class="text-white bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="annulation-modal">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-4 text-center md:p-5 space-y-4">
        <svg class="text-blue-700 w-16" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
        </svg>

        <p class="mb-5 text-lg font-normal text-gray-700 dark:text-gray-400">Voulez-vous confirmer l'annulation de l'ajout de la transaction de code ISIN : <span class="font-semibold">BJ0000000121</span> ?</p>
      </div>
      <!-- Modal footer -->
      <div class="flex items-center justify-end py-3 px-8 border-t border-gray-200 rounded-b">
        <button data-modal-hide="annulation-modal" type="button" class="text-white font-medium !bg-gray-400 hover:!bg-gray-700 text-sm px-5 py-1.5 text-center rounded focus:ring-0 focus:outline-none">Annuler</button>
        <button data-modal-hide="annulation-modal" type="button" class="ml-5 text-white font-medium !bg-red-600 hover:!bg-red-800 text-sm px-5 py-1.5 text-center rounded focus:ring-0 focus:outline-none">Confirmer</button>
      </div>
    </div>
  </div>
</div>


<!--Modal de Ajout--> 
<div id="ajout-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex align-middle bg-blue-800 items-center justify-between px-4 py-2 border-b rounded-t-lg ">
        <h3 class="text-xl mb-0 font-medium text-white ">
          Confirmation de création
        </h3>
        <button type="button" class="text-white bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="ajout-modal">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-4 text-center md:p-5 space-y-4">
        <svg class="text-green-500 w-16" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        <p class="mb-5 text-lg font-normal text-gray-700 dark:text-gray-400">Voulez-vous confirmer la création de la transaction de code ISIN : <span class="font-semibold">BJ0000000121</span> ?</p>
      </div>
      <!-- Modal footer -->
      <div class="flex items-center justify-end py-3 px-8 border-t border-gray-200 rounded-b">
        <button data-modal-hide="ajout-modal" type="button" class="text-white font-medium !bg-gray-400 hover:!bg-gray-700 text-sm px-5 py-1.5 text-center rounded focus:ring-0 focus:outline-none">Annuler</button>
        <button data-modal-hide="ajout-modal" type="button" class="ml-5 text-white font-medium !bg-green-500 hover:!bg-green-700 text-sm px-5 py-1.5 text-center rounded focus:ring-0 focus:outline-none">Confirmer</button>
      </div>
    </div>
  </div>
</div>