<div class="w-full px-6 py-6 mx-auto">      
  <form [formGroup]="form" (submit)="onSubmit()" class="bg-white rounded-xl shadow mt-4">
    <div class="!bg-blue-800 flex rounded-t-xl py-1.5 justify-center items-center">
      <h3 class="text-xl font-semibold text-white">
        Formulaire de transaction (Achat / Vente de Titres)
      </h3>
    </div>
    
    <h3 class="text-xl px-4 py-4 font-semibold text-gray-900 dark:text-white">
      Caractéristiques du titre 
    </h3>

    <div class="flex max-w-full justify-between mb-4 px-4">
      <div class="border border-gray-300 px-4 py-6 rounded-lg h-fit" style="width: 48%;">
        <div class="flex w-full items-center">
          <label for="n_transaction" class="w-1/2 text-sm font-medium text-gray-900">N° transaction :</label>
          <input formControlName="transactionNumber" type="text" id="n_transaction" class="w-1/2 border bg-slate-50 border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 py-1.5 px-3">
        </div>
        @if(transactionNumber.errors && (transactionNumber.dirty || transactionNumber.touched)){
          @if(transactionNumber.getError("required")){
            <div class="flex justify-end">
              <p class="text-left text-sm " style="color: red;">Le numéro est obligatoire</p>
            </div>
          }
        }
        <div class="mt-5 flex w-full items-center">
          <label for="sens" class="w-1/2 text-sm font-medium text-gray-900">Sens Transaction :</label>
          <select formControlName="operationSens" id="sens" class="w-1/2 border bg-slate-50 border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 py-1.5 px-3">
            <option disabled [selected]="true">Indiquez sens </option>
            <option value="ACHAT">ACHAT</option>
            <option value="VENTE">VENTE</option>
          </select>                         
        </div>
        @if(operationSens.errors && (operationSens.dirty || operationSens.touched)){
          @if(operationSens.getError("required")){
            <div class="flex justify-end">
              <p class="text-left text-sm " style="color: red;">Le sens est obligatoire</p>
            </div>
          }
        } 
        <div class="mt-5 flex w-full items-center">
          <label for="countries" class="w-1/2 text-sm font-medium text-gray-900">Emetteur :</label>
          <select formControlName="issuerCountry" id="countries" class="w-1/2 border bg-slate-50 border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 py-1.5 px-3">
            <option disabled [selected]="true">Indiquez pays </option>
            <option value="SENEGAL">SENEGAL</option>
            <option value="CAMEROUN">CAMEROUN</option>
            <option value="GHANA">GHANA</option>
          </select>             
        </div>
        @if(issuerCountry.errors && (issuerCountry.dirty || issuerCountry.touched)){
          @if(issuerCountry.getError("required")){
            <div class="flex justify-end">
              <p class="text-left text-sm " style="color: red;">Emmeteur est requis</p>
            </div>
          }
        }
        <div class=" mt-5 flex w-full items-center">
          <label for="taux" class="w-1/2 text-sm font-medium text-gray-900">Taux / Coupon :</label>
          <input formControlName="couponRate" type="text" id="taux" class="w-1/2 border bg-slate-50 border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 py-1.5 px-3">
        </div>
        @if(couponRate.errors && (couponRate.dirty || couponRate.touched)){
          @if(couponRate.getError("required")){
            <div class="flex justify-end">
              <p class="text-left text-sm " style="color: red;">Le coupon est obligatoire</p>
            </div>
          }
          @if(couponRate.getError("isnotdigit")){
            <div class="flex justify-end">
              <p class="text-left text-sm " style="color: red;">Le coupon n'est pas valide</p>
            </div>
          }
        }     
        <div class="mt-5 flex w-full items-center">
          <label for="date_echeance" class="w-1/2 text-sm font-medium text-gray-900">Date d'échéance :</label>
          <input formControlName="echeanceDate" [min]="minDate" type="date" id="date_echeance" class="w-1/2 border bg-slate-50 border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 py-1.5 px-3">
        </div>
        @if(echeanceDate.errors && (echeanceDate.dirty || echeanceDate.touched)){
          @if(echeanceDate.getError("required")){
            <div class="flex justify-end">
              <p class="text-left text-sm " style="color: red;">Date d'échéance est requise</p>
            </div>
          }
        }
        <div class="mt-5 flex w-full items-center">
          <label for="qte" class="w-1/2 text-sm font-medium text-gray-900">Quantité titres {{sensLabel == "d'achat" ? "à acheter" : sensLabel == "de cession" ? "à vendre" :""}} :</label>
          <input formControlName="amount" type="text" id="qte" class="w-1/2 border bg-slate-50 border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 py-1.5 px-3">
        </div>
        @if(amount.errors && (amount.dirty || amount.touched)){
          @if(amount.getError("required")){
            <div class="flex justify-end">
              <p class="text-left text-sm " style="color: red;">La quantité est obligatoire</p>
            </div>
          }
          @if(amount.getError("isnotdigit")){
            <div class="flex justify-end">
              <p class="text-left text-sm " style="color: red;">La quantité n'est pas valide</p>
            </div>
          }
        } 
      </div>

      <div class="border border-gray-300 px-4 py-6 rounded-lg h-fit" style="width: 48%;">
        <div class="flex w-full items-center">
          <label for="date_offre" class="w-1/2 text-sm font-medium text-gray-900">Date offre :</label>
          <input type="text" [value]="today.toLocaleDateString()" readonly id="date_offre" class="w-1/2 border bg-slate-50 border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 py-1.5 px-3">
        </div>
        <div class="mt-5 flex w-full items-center">
          <label for="nature" class="w-1/2 text-sm font-medium text-gray-900">Nature instrument :</label>
          <select formControlName="nature" id="nature" class="w-1/2 border bg-slate-50 border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 py-1.5 px-3">
            <option disabled [selected]="true">Indiquez nature</option>
            <option value="OAT">OAT</option>
            <option value="BAT">BAT</option>
          </select>                    
        </div>
        @if(nature.errors && (nature.dirty || nature.touched)){
          @if(nature.getError("required")){
            <div class="flex justify-end">
              <p class="text-left text-sm " style="color: red;">La nature est obligatoire</p>
            </div>
          }
        }
        <div class="mt-5 flex w-full items-center">
          <label for="code_sin" class="w-1/2 text-sm font-medium text-gray-900">Code ISIN :</label>
          <input formControlName="codeIsin" type="text" id="code_sin" class="w-1/2 border bg-slate-50 border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 py-1.5 px-3">              
        </div>
        @if(codeIsin.errors && (codeIsin.dirty || codeIsin.touched)){
          @if(codeIsin.getError("required")){
            <div class="flex justify-end">
              <p class="text-left text-sm " style="color: red;">Le code SIN est obligatoire</p>
            </div>
          }
        } 
        <div class="mt-5 flex w-full items-center">
          <label for="date_emission" class="w-1/2 text-sm font-medium text-gray-900">Date d'émission :</label>
          <input type="date" formControlName="emissionDate" id="date_emission" [min]="minDate" class="w-1/2 border bg-slate-50 border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 py-1.5 px-3">
        </div>
        @if(emissionDate.errors && (emissionDate.dirty || emissionDate.touched)){
          @if(emissionDate.getError("required")){
            <div class="flex justify-end">
              <p class="text-left text-sm " style="color: red;">Date d'émission est requise</p>
            </div>
          }
        }
        
        <div class="mt-5 flex w-full items-center">
          <label for="prix" class="w-1/2 text-sm font-medium text-gray-900">{{label}} {{sensLabel}} proposé :</label>
          <input formControlName="price" type="text" id="prix" class="w-1/2 border bg-slate-50 border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 py-1.5 px-3">
        </div>
        @if(price.errors && (price.dirty || price.touched)){
          @if(price.getError("required")){
            <div class="flex justify-end">
              <p class="text-left text-sm " style="color: red;">Le {{label.toLowerCase()}} est obligatoire</p>
            </div>
          }
          @if(price.getError("isnotdigit")){
            <div class="flex justify-end">
              <p class="text-left text-sm " style="color: red;">Le {{label.toLowerCase()}} n'est pas valide</p>
            </div>
          }
        } 
        <div class="mt-5 flex w-full items-center">
          <label for="valeur_nom" class="w-1/2 text-sm font-medium text-gray-900">Valeur Nominale Unitaire :</label>
          <input type="text" [value]="unitaryValueName.value | formatNumber" readonly id="valeur_nom" class="w-1/2 border bg-slate-50 border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 py-1.5 px-3">
        </div>
        <!--@if(unitaryValueName.errors && (unitaryValueName.dirty || unitaryValueName.touched)){
          @if(unitaryValueName.getError("required")){
            <div class="flex justify-end">
              <p class="text-left text-sm " style="color: red;">La valeur est obligatoire</p>
            </div>
          }
          @if(unitaryValueName.getError("isnotdigit")){
            <div class="flex justify-end">
              <p class="text-left text-sm " style="color: red;">La valeur n'est pas valide</p>
            </div>
          }
          } -->
      </div>
      <!--
      <div class="border border-gray-300 px-4 py-6 rounded-lg h-fit" style="width: 31%;">
        <div class="mt-5 flex w-full items-center">
          <label for="duree" class="w-1/2 text-sm font-medium text-gray-900">Durée résiduelle (an) :</label>
          <input type="text" formControlName="residualDuration" id="duree" class="w-1/2 border bg-slate-50 border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 py-1.5 px-3">
        </div>
        @if(residualDuration.errors && (residualDuration.dirty || residualDuration.touched)){
          @if(residualDuration.getError("required")){
            <div class="flex justify-end">
              <p class="text-left text-sm " style="color: red;">La durée est obligatoire</p>
            </div>
          }
          @if(residualDuration.getError("isnotdigit")){
            <div class="flex justify-end">
              <p class="text-left text-sm " style="color: red;">La durée n'est pas valide</p>
            </div>
          }
        } 
        
        <div class="mt-5 flex w-full items-center">
          <label for="valeur" class="w-1/2 text-sm font-medium text-gray-900">Valeur transaction :</label>
          <input type="text" formControlName="transactionValue" id="valeur" class="w-1/2 border bg-slate-50 border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 py-1.5 px-3">
        </div>
        @if(transactionValue.errors && (transactionValue.dirty || transactionValue.touched)){
          @if(transactionValue.getError("required")){
            <div class="flex justify-end">
              <p class="text-left text-sm " style="color: red;">La valeur est obligatoire</p>
            </div>
          }
          @if(transactionValue.getError("isnotdigit")){
            <div class="flex justify-end">
              <p class="text-left text-sm " style="color: red;">La valeur n'est pas valide</p>
            </div>
          }
        }

        <div class="mt-5 flex w-full items-center">
          <label for="interet" class="w-1/2 text-sm font-medium text-gray-900">Intérêts courus :</label>
          <input formControlName="interet" type="text" id="interet" class="w-1/2 border bg-slate-50 border-gray-300 text-gray-900 placeholder:text-gray-400 placeholder:font-medium text-base rounded-md focus:ring-blue-500 focus:border-blue-500 py-1.5 px-3">
        </div>
        @if(interet.errors && (interet.dirty || interet.touched)){
          @if(interet.getError("required")){
            <div class="flex justify-end">
              <p class="text-left text-sm " style="color: red;">L'intérêt est obligatoire</p>
            </div>
          }
          @if(interet.getError("isnotdigit")){
            <div class="flex justify-end">
              <p class="text-left text-sm " style="color: red;">L'intérêt n'est pas valide</p>
            </div>
          }
        }
      
      </div>
      -->
    </div>
    <div class="flex justify-end pb-4 px-4">
      <button (click)="abortSubmission()" type="button" class="text-white !bg-gray-400 hover:!bg-gray-700 font-medium rounded-lg text-sm px-5 py-2 text-center">
        Réinitialiser
      </button>
      <button type="submit" class="ml-4 text-white !bg-green-500 hover:!bg-green-600 font-medium rounded-lg text-sm px-5 py-2 text-center">
        Poursuivre
      </button>
    </div>
    
  </form>
</div>
    

<!--Modal de Annulation--> 
<!--<div id="annulation-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-2xl max-h-full">
  
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      
      <div class="flex align-middle bg-blue-800 items-center justify-between px-4 py-2 border-b rounded-t-lg ">
        <h3 class="text-xl mb-0 font-medium text-white ">
          Confirmation d'Annulation
        </h3>
        <button type="button" class="text-white bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="annulation-modal">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
        </button>
      </div>
   
      <div class="p-4 text-center md:p-5 space-y-4">
        <svg class="text-blue-700 w-16" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
        </svg>

        <p class="mb-5 text-lg font-normal text-gray-700 dark:text-gray-400">Voulez-vous confirmer l'annulation de l'ajout de la transaction de code ISIN : <span class="font-semibold">BJ0000000121</span> ?</p>
      </div>
    
      <div class="flex items-center justify-end py-3 px-8 border-t border-gray-200 rounded-b">
        <button data-modal-hide="annulation-modal" type="button" class="text-white font-medium !bg-gray-400 hover:!bg-gray-700 text-sm px-5 py-1.5 text-center rounded focus:ring-0 focus:outline-none">Annuler</button>
        <button data-modal-hide="annulation-modal" type="button" class="ml-5 text-white font-medium !bg-red-600 hover:!bg-red-800 text-sm px-5 py-1.5 text-center rounded focus:ring-0 focus:outline-none">Confirmer</button>
      </div>
    </div>
  </div>
</div>-->

<button id="btnAdd" data-modal-target="ajout-modal" data-modal-toggle="ajout-modal"  type="button" class="ml-4 hidden text-white !bg-green-500 hover:!bg-green-600 font-medium rounded-lg text-sm px-5 py-2 text-center">
  Ajouter
</button>
<!--Modal de Ajout--> 
<div id="ajout-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-screen-xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex align-middle bg-blue-800 items-center justify-between px-4 py-2 border-b rounded-t-lg ">
        <h3 class="text-xl mb-0 font-medium text-white ">
          Confirmation de création
        </h3>
        <button type="button" class="text-white bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="ajout-modal">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
        </button>
      </div>
      <!-- Modal body -->
      <div class="text-center px-8 py-5 space-y-4">
        <div class="border border-gray-400 p-3 rounded-md">
          <div class="flex justify-center">
            <h3 class="text-xl font-semibold text-gray-900">
              Résumé de l'offre
            </h3>
          </div>
          <div class="flex mb-2 max-w-full justify-center">
            <div class="mx-auto mt-2" style="width: 48%;">
              <div class="w-full flex">
                <p class="w-1/2 bg-gray-300 text-black font-medium py-2 px-4 rounded">N° transaction :</p>
                <p class="w-1/2 ml-2 bg-gray-300 text-black text-left font-bold py-2 px-4 rounded"> {{resumeAsset?.transactionNumber}}</p>
              </div>
              <div class="mt-2 w-full flex">
                <p class="w-1/2 bg-gray-300 text-black font-medium py-2 px-4 rounded">Date offre :</p>
                <p class="w-1/2 ml-2 bg-gray-300 text-black text-left font-bold py-2 px-4 rounded"> {{ resumeAsset?.date | date: 'dd/MM/yyyy' }}</p>
              </div>
              <div class="mt-2 w-full flex">
                <p class="w-1/2 bg-gray-300 text-black font-medium py-2 px-4 rounded">Nature instrument :</p>
                <p class="w-1/2 ml-2 bg-gray-300 text-black text-left font-bold py-2 px-4 rounded">{{resumeAsset?.nature}}</p>
              </div>
              <div class="mt-2 w-full flex">
                <p class="w-1/2 bg-gray-300 text-black font-medium py-2 px-4 rounded">Code ISIN :</p>
                <p class="w-1/2 ml-2 bg-gray-300 text-black text-left font-bold py-2 px-4 rounded">{{resumeAsset?.codeIsin}}</p>
              </div>
              <div *ngIf='nature.value == "OAT"' class="mt-2 w-full flex">
                <p class="w-1/2 bg-gray-300 text-black font-medium py-2 px-4 rounded">Taux/Coupon :</p>
                <p class="w-1/2 ml-2 bg-gray-300 text-black text-left font-bold py-2 px-4 rounded">{{resumeAsset?.couponRate}}%</p>
              </div>
              <div class="mt-2 w-full flex">
                <p class="w-1/2 bg-gray-300 text-black font-medium py-2 px-4 rounded">Quantité titres {{sensLabel == "d'achat" ? "à acheter" : sensLabel == "de cession" ? "à vendre" :""}} :</p>
                <p class="w-1/2 ml-2 bg-gray-300 text-black text-left font-bold py-2 px-4 rounded">{{resumeAsset?.amount | formatNumber}}</p>
              </div>
              <div class="mt-2 w-full flex">
                <p class="w-1/2 bg-gray-300 text-black font-medium py-2 px-4 rounded">Valeur nominale transaction :</p>
                <p class="w-1/2 ml-2 bg-gray-300 text-black text-left font-bold py-2 px-4 rounded">{{resumeAsset?.totalNominalValue | formatNumber}}</p>
              </div>
              <div class="mt-2 w-full flex">
                <p class="w-1/2 bg-gray-300 text-black font-medium py-2 px-4 rounded">Valeur totale transaction :</p>
                <p class="w-1/2 ml-2 bg-gray-300 text-black text-left font-bold py-2 px-4 rounded">{{resumeAsset?.totalTransactionValue | formatNumber}}</p>
              </div>
            </div>

            <div class="mx-auto mt-2" style="width: 48%;">
              <div class="w-full flex">
                <p class="w-1/2 bg-gray-300 text-black font-medium py-2 px-4 rounded">Sens transaction :</p>
                <p class="w-1/2 ml-2 bg-gray-300 text-black text-left font-bold py-2 px-4 rounded">{{resumeAsset?.operationSens}}</p>
              </div>
              <div class="mt-2 w-full flex">
                <p class="w-1/2 bg-gray-300 text-black font-medium py-2 px-4 rounded">Date de valeur :</p>
                <p class="w-1/2 ml-2 bg-gray-300 text-black text-left font-bold py-2 px-4 rounded"> {{ resumeAsset?.valueDate| date: 'dd/MM/yyyy' }}</p>
              </div>
              <div class="mt-2 w-full flex">
                <p class="w-1/2 bg-gray-300 text-black font-medium py-2 px-4 rounded">Emetteur :</p>
                <p class="w-1/2 ml-2 bg-gray-300 text-black text-left font-bold py-2 px-4 rounded">{{resumeAsset?.issuerCountry}}</p>
              </div>
              <div class="mt-2 w-full flex">
                <p class="w-1/2 bg-gray-300 text-black font-medium py-2 px-4 rounded">Date d'échéance :</p>
                <p class="w-1/2 ml-2 bg-gray-300 text-black text-left font-bold py-2 px-4 rounded">{{resumeAsset?.echeanceDate| date: 'dd/MM/yyyy' }}</p>
              </div>
               <div class="mt-2 w-full flex">
                <p class="w-1/2 bg-gray-300 text-black font-medium py-2 px-4 rounded">Durée résiduelle (an) :</p>
                <p class="w-1/2 ml-2 bg-gray-300 text-black text-left font-bold py-2 px-4 rounded">{{resumeAsset?.residualDuration}} an(s)</p>
              </div>
              <div *ngIf='nature.value == "OAT"' class="mt-2 w-full flex">
                <p class="w-1/2 bg-gray-300 text-black font-medium py-2 px-4 rounded">Prix {{sensLabel}} proposé :</p>
                <p class="w-1/2 ml-2 bg-gray-300 text-black text-left font-bold py-2 px-4 rounded">{{resumeAsset?.proposedPrice | formatNumber}}</p>
              </div>
              <!--<div *ngIf='nature.value == "BAT"' class="mt-2 w-full flex">
                <p class="w-1/2 bg-gray-300 text-black font-medium py-2 px-4 rounded">Taux Transaction :</p>
                <p class="w-1/2 ml-2 bg-gray-300 text-black text-left font-bold py-2 px-4 rounded">10.5%</p>
              </div>-->
              <div *ngIf='nature.value == "OAT"' class="mt-2 w-full flex">
                <p class="w-1/2 bg-gray-300 text-black font-medium py-2 px-4 rounded">Intérêts courus :</p>
                <p class="w-1/2 ml-2 bg-gray-300 text-black text-left font-bold py-2 px-4 rounded">{{resumeAsset?.interet | formatNumber}}</p>
              </div>
              <div *ngIf='nature.value == "OAT"' class="mt-2 w-full flex">
                <p class="w-1/2 bg-gray-300 text-black font-medium py-2 px-4 rounded">Rendement estimé :</p>
                <p class="w-1/2 ml-2 bg-gray-300 text-black text-left font-bold py-2 px-4 rounded">{{resumeAsset?.estimatedYield}}%</p>
              </div>
              <div *ngIf='nature.value == "BAT"' class="mt-2 w-full flex">
                <p class="w-1/2 bg-gray-300 text-black font-medium py-2 px-4 rounded">Taux de Rendement :</p>
                <p class="w-1/2 ml-2 bg-gray-300 text-black text-left font-bold py-2 px-4 rounded">{{resumeAsset?.yieldRate}}%</p>
              </div>
              <div *ngIf='nature.value == "BAT"' class="mt-2 w-full flex">
                <p class="w-1/2 bg-gray-300 text-black font-medium py-2 px-4 rounded">Prix transaction (%) :</p>
                <p class="w-1/2 ml-2 bg-gray-300 text-black text-left font-bold py-2 px-4 rounded">{{resumeAsset?.transactionPrice}}%</p>
              </div>
            </div>
          </div>
        </div>

        <div class="text-gray-800 font-semibold">
          <p *ngIf='nature.value == "OAT"'>Rappel : Le prix unitaire affiché sera {{ operationSens.value =="ACHAT" ? "minoré" : "majoré" }} de 10 FCFA, tenant compte des frais.</p>
          <p *ngIf='nature.value == "BAT"'>Rappel : Le Taux {{ operationSens.value =="ACHAT" ? "d'acquisition affiché sera minoré" : "de cession affiché sera majoré" }} de 0,1%, tenant compte des frais.</p>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="flex items-center justify-end py-3 px-8 border-t border-gray-200 rounded-b">
        <button data-modal-hide="ajout-modal" type="button" class="text-white font-medium !bg-gray-400 hover:!bg-gray-700 text-sm px-5 py-1.5 text-center rounded focus:ring-0 focus:outline-none">Retour</button>
        <button (click)="confirmSubmission()" data-modal-hide="ajout-modal" type="button" class="ml-5 text-white font-medium !bg-green-500 hover:!bg-green-700 text-sm px-5 py-1.5 text-center rounded focus:ring-0 focus:outline-none">Valider</button>
      </div>
    </div>
  </div>
</div>


<!-- SPINNER  -->
<button id="openSpinner" data-modal-target="spinner-modal" data-modal-toggle="spinner-modal" class="hidden" type="button">
  Toggle Spinner
</button>

<button  id="closeSpinner" data-modal-hide="spinner-modal" type="button" class="hidden">
  Fermer
</button>

<div id="spinner-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <div class="relative bg-transparent">
      <div class="flex justify-center items-center p-4">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </div>
</div>