 <div class="w-full px-6 py-6 mx-auto">

  <div class="flex flex-wrap mt-6">
    <div class="relative w-full flex flex-col mb-6 bg-white shadow-soft-xl rounded-lg">
      <div class="py-4 px-4 pb-0 mb-0 bg-white border-b-0 border-b-solid rounded-t-2xl border-b-transparent">
        <h6 class="font-bold text-lg text-gray-800">Liste d'utilisateurs</h6>
      </div>
      <div class="p-0 overflow-x-auto overflow-y-auto max-h-96">
        <table  class="w-full border-collapse border-gray-200 text-slate-700">
          <thead class="align-middle bg-white sticky top-0">
            <tr class="uppercase bg-transparent font-bold align-middle border-b border-gray-200">
              <th class="px-4 py-3 font-bold text-left text-xs whitespace-nowrap text-slate-400">Identifiant</th>
              <!--<th class="px-4 py-3 font-bold text-left text-xs whitespace-nowrap text-slate-400">Adhésion</th>-->
              <th class="px-4 py-3 font-bold text-left text-xs whitespace-nowrap text-slate-400">Nom</th>
              <th class="px-4 py-3 font-bold text-left text-xs whitespace-nowrap text-slate-400">Prénom</th>
              <th class="px-4 py-3 font-bold text-left text-xs whitespace-nowrap text-slate-400">E-mail</th>
              <th class="px-4 py-3 font-bold text-left text-xs whitespace-nowrap text-slate-400">Téléphone</th>
              <th class="px-4 py-3 font-bold text-left text-xs whitespace-nowrap text-slate-400">Profil</th>
              <th class="px-4 py-3 font-bold text-left text-xs whitespace-nowrap text-slate-400">Institution</th>
            </tr>
          </thead>
          <tbody class="overflow-y-auto">
          @for (item of datasPaginated; track $index) {
            <tr class="text-gray-700 border-b border-gray-200 odd:bg-gray-100 even:bg-white">
              <td class="px-4 py-1.5 text-left">
                <p class="text-sm leading-normal">{{item.id}}</p>
              </td>
              <!--<td class="px-4 text-left">
                <p class="text-sm leading-normal">{{item.createdAt | date: 'dd/mm/yyyy'}}</p>
              </td>-->
              <td class="px-4 text-left">
                <p class="text-sm leading-normal">{{item.lastName}}</p>
              </td>
              <td class="px-4 text-left">
                <p class="text-sm leading-normal">{{item.firstName}}</p>
              </td>
              <td class="px-4 text-left">
                <p class="text-sm leading-normal">{{item.email}}</p>
              </td>
              <td class="px-4 text-left">
                <p class="text-sm leading-normal">{{item.phoneNumber}}</p>
              </td>
              <td class="px-4 text-left">
                <p class="text-sm leading-normal">{{item.profile}}</p>
              </td>
              <td class="px-4 text-left">
                <p class="text-sm leading-normal">{{item.institutionName}}</p>
              </td>
            </tr>
          }  
          </tbody>
        </table>
      </div>
      <div *ngIf="isLoading">
          <mat-progress-bar class="text-purple-800" mode="indeterminate"></mat-progress-bar>
      </div>
      <div>
        <mat-paginator showFirstLastButtons
              [length] ="totalElements"
              [pageSize]="20"
              [pageSizeOptions]="[20, 30, 50]"
              aria-label="Select page"
              (page)="onPageChange($event)">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>

