 <div class="w-full px-6 py-6 mx-auto">
        <!-- row 1  en tete Menu Profil-->
        <div class="mt-4">
            <div class=" max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4" >
                <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-xl rounded-2xl bg-clip-border" style="background-color: #4D44B5; color: white;">
                  <div class="flex-auto p-4">
                    <div class="flex flex-row -mx-3">
                    
                      <div class="px-3 text-right basis-1/3">
                        <div class="inline-block w-12  text-center rounded-lg bg-gradient-to-tl from-purple-700 to-pink-500">
                     
                        </div>
                      </div>
                      <div class="flex-none w-2/3 max-w-full px-3">
                        <div>
                          <p class="mb-0 font-sans text-sm font-semibold leading-normal">Nouveau</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
     
          <!-- row 2  Tables-->
          <div class="flex flex-wrap -mx-3 mt-2">
            <div class="flex-none w-full max-w-full px-3">
              <div class="relative flex flex-col min-w-0 mb-6 break-words bg-white border-0 border-transparent border-solid shadow-soft-xl rounded-2xl bg-clip-border">
                <div class="p-6 pb-0 mb-0 bg-white border-b-0 border-b-solid rounded-t-2xl border-b-transparent">
                  <h6>Liste Utilisateurs</h6>
                </div>
                <div class="flex-auto px-0 pt-0 pb-2">
                  <div class="p-0 overflow-x-auto">
                    <table class="items-center justify-center w-full mb-0 align-top border-gray-200 text-slate-500">
                      <thead class="align-bottom">
                        <tr>
                          <th class="px-6 py-3 font-bold text-left uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">Nom</th>
                          <th class="px-6 py-3 pl-2 font-bold text-left uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">Identifiant</th>
                          <th class="px-6 py-3 pl-2 font-bold text-left uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">Date d’adhesion</th>
                          <th class="px-6 py-3 pl-2 font-bold text-center uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">Profil</th>
                          <th class="px-6 py-3 pl-2 font-bold text-center uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">Institution</th>
                          <th class="px-6 py-3 pl-2 font-bold text-center uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">Contact</th>
                          <th class="px-6 py-3 pl-2 font-bold text-center uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">Etat</th>
                          <th class="px-6 py-3 pl-2 font-bold text-center uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">Voir Plus</th>
                        </tr>
                      </thead>
                      <tbody>
                       <tr>
                          <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                            <div class="flex px-2">
                                <div class="my-auto">
                                <h6 class="mb-0 text-sm leading-normal">Samanta William</h6>
                              </div>
                            </div>
                          </td>
                          <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                            <div class="flex px-2">
                                <div class="my-auto">
                                <h6 class="mb-0 text-sm leading-normal">#123456789</h6>
                              </div>
                            </div>
                          </td>
                          
                    
                          <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                            <h6 class="mb-0 text-sm font-semibold leading-normal">March 25, 2021</h6>
                          </td>
                          <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                            <h6 class="text-xs font-semibold leading-tight">Admin_Institution</h6>
                          </td>
                          <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                            <h6 class="text-xs font-semibold leading-tight">Jakarta</h6>
                          </td>
                         
                          <td class="p-2 text-sm flex leading-normal text-center align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">   
                              <img  style="height: 3vh; width: 2vw;"  src="../assets/img/telephone.png" alt="">
                              <img class="ml-4" style="height: 3vh; width: 2vw;" src="../assets/img/email.png" alt="">
                          </td>
                          <td class="p-2 text-sm leading-normal text-center align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                            <span class="from-green-600 to-lime-400 px-2.5 text-xs rounded-1.8 py-1.4 inline-block whitespace-nowrap text-center align-baseline font-bold uppercase leading-none text-white" style="background-color: red;">Refuser</span>
                              
                            
                          </td>
                         
                          <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                            <button class="inline-block px-6 py-3 mb-0 text-xs font-bold text-center uppercase align-middle transition-all bg-transparent border-0 rounded-lg shadow-none leading-pro ease-soft-in bg-150 tracking-tight-soft bg-x-25 text-slate-400">
                              <i class="text-xs leading-tight fa fa-ellipsis-v"></i>
                            </button>
                        </td>
                        </tr>
                        <tr>
                          <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                            <div class="flex px-2">
                                <div class="my-auto">
                                <h6 class="mb-0 text-sm leading-normal">Samanta William</h6>
                              </div>
                            </div>
                          </td>
                          <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                            <div class="flex px-2">
                                <div class="my-auto">
                                <h6 class="mb-0 text-sm leading-normal">#123456789</h6>
                              </div>
                            </div>
                          </td>
                          
                    
                          <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                            <h6 class="mb-0 text-sm font-semibold leading-normal">March 25, 2021</h6>
                          </td>
                          <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                            <h6 class="text-xs font-semibold leading-tight">Admin_Institution</h6>
                          </td>
                          <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                            <h6 class="text-xs font-semibold leading-tight">Jakarta</h6>
                          </td>
                         
                          <td class="p-2 text-sm flex leading-normal text-center align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">   
                              <img  style="height: 3vh; width: 2vw;"  src="../assets/img/telephone.png" alt="">
                              <img class="ml-4" style="height: 3vh; width: 2vw;" src="../assets/img/email.png" alt="">
                          </td>
                          <td class="p-2 text-sm leading-normal text-center align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                            <span class="ml-2 bg-gradient-to-tl from-green-600 to-lime-400 px-2.5 text-xs rounded-1.8 py-1.4 inline-block whitespace-nowrap text-center align-baseline font-bold uppercase leading-none text-white">Accepter</span>                              
                            
                          </td>
                         
                          <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                            <button class="inline-block px-6 py-3 mb-0 text-xs font-bold text-center uppercase align-middle transition-all bg-transparent border-0 rounded-lg shadow-none leading-pro ease-soft-in bg-150 tracking-tight-soft bg-x-25 text-slate-400">
                              <i class="text-xs leading-tight fa fa-ellipsis-v" ></i>
                              
                            </button>
                        </td>
                        </tr>
                        <tr>
                          <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                            <div class="flex px-2">
                                <div class="my-auto">
                                <h6 class="mb-0 text-sm leading-normal">Samanta William</h6>
                              </div>
                            </div>
                          </td>
                          <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                            <div class="flex px-2">
                                <div class="my-auto">
                                <h6 class="mb-0 text-sm leading-normal">#123456789</h6>
                              </div>
                            </div>
                          </td>
                          
                    
                          <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                            <h6 class="mb-0 text-sm font-semibold leading-normal">March 25, 2021</h6>
                          </td>
                          <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                            <h6 class="text-xs font-semibold leading-tight">Admin_Institution</h6>
                          </td>
                          <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                            <h6 class="text-xs font-semibold leading-tight">Jakarta</h6>
                          </td>
                         
                          <td class="p-2 text-sm flex leading-normal text-center align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">   
                              <img  style="height: 3vh; width: 2vw;"  src="../assets/img/telephone.png" alt="">
                              <img class="ml-4" style="height: 3vh; width: 2vw;" src="../assets/img/email.png" alt="">
                          </td>
                          <td class="p-2 text-sm leading-normal text-center align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                            <span class="ml-2 bg-gradient-to-tl from-green-600 to-lime-400 px-2.5 text-xs rounded-1.8 py-1.4 inline-block whitespace-nowrap text-center align-baseline font-bold uppercase leading-none text-white">Accepter</span>
                              
                          
                          </td>
                         
                          <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                            <button class="inline-block px-6 py-3 mb-0 text-xs font-bold text-center uppercase align-middle transition-all bg-transparent border-0 rounded-lg shadow-none leading-pro ease-soft-in bg-150 tracking-tight-soft bg-x-25 text-slate-400">
                              <i class="text-xs leading-tight fa fa-ellipsis-v"></i>
                            </button>
                        </td>
                        </tr>
                        <tr>
                          <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                            <div class="flex px-2">
                                <div class="my-auto">
                                <h6 class="mb-0 text-sm leading-normal">Samanta William</h6>
                              </div>
                            </div>
                          </td>
                          <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                            <div class="flex px-2">
                                <div class="my-auto">
                                <h6 class="mb-0 text-sm leading-normal">#123456789</h6>
                              </div>
                            </div>
                          </td>
                          
                    
                          <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                            <h6 class="mb-0 text-sm font-semibold leading-normal">March 25, 2021</h6>
                          </td>
                          <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                            <h6 class="text-xs font-semibold leading-tight">Admin_Institution</h6>
                          </td>
                          <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                            <h6 class="text-xs font-semibold leading-tight">Jakarta</h6>
                          </td>
                         
                          <td class="p-2 text-sm flex leading-normal text-center align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">   
                              <img  style="height: 3vh; width: 2vw;"  src="../assets/img/telephone.png" alt="">
                              <img class="ml-4" style="height: 3vh; width: 2vw;" src="../assets/img/email.png" alt="">
                          </td>
                          <td class="p-2 text-sm leading-normal text-center align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                            <span class="from-green-600 to-lime-400 px-2.5 text-xs rounded-1.8 py-1.4 inline-block whitespace-nowrap text-center align-baseline font-bold uppercase leading-none text-white" style="background-color: red;">Refuser</span>
                              
                            
                          </td>
                         
                          <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                            <button class="inline-block px-6 py-3 mb-0 text-xs font-bold text-center uppercase align-middle transition-all bg-transparent border-0 rounded-lg shadow-none leading-pro ease-soft-in bg-150 tracking-tight-soft bg-x-25 text-slate-400">
                              <i class="text-xs leading-tight fa fa-ellipsis-v"></i>
                            </button>
                        </td>
                        </tr>
                       
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
       
      </div>

